
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   /* text-align: right;
    direction: rtl;*/  
}
.container{
    background-color: blue;
    width: 500px;
    height: 500px;

  
}

.container .first-div{
    background-color: red; 
    width: 500px;
    height: 400px;
}
.container img{
    width: 150px;
    height: 150px;
    float: right;
}